td{
    text-align: center;
    color: white;
}
th{
    color: white;
}
body{
    display: flex;
    background-image: url(void-5sm9tokk2youui90.jpg);
    background-repeat: no-repeat;
}
img{
    width: 500px;
}